<div class="card-container">
  <div class="card-content">
    <div class="card-body">
      <div class="card-image-container">
        <img src="{{player.image}}" alt="">
      </div>
      <div class="card-caption">{{player.name}}</div>
      <div class="card-content-body">
        <ul>
          <li><span class="label">PTS</span><span class="item">{{player.pts}}</span></li>
          <li><span class="label">AST</span><span class="item">{{player.ast}}</span></li>
          <li><span class="label">REB</span><span class="item">{{player.reb}}</span></li>
          <li><span class="label">FG</span><span class="item">{{player.fg}}</span></li>
          <li><span class="label">3PT</span><span class="item">{{player["3pt"]}}</span></li>
        </ul>
      </div>
      <div class="rank">#{{player.num}}</div>
    </div>
  </div>
</div>
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSxIaMp5Nv_8eMwVaW5o9QvfQFjIFnHGhZbaMh_BanNzPxQWqo -->
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkUimhUd6j6iEHxbfXHNznn-JUvPG-Hw_nrqUhEa3PBdX8mnsJ -->
